/* styling for faqlist starts*/

.list {
  cursor: pointer;
}

.list ul {
  list-style-type: none;
}

.list > ul > li {
  cursor: pointer;
  background-color: var(--lightGrey);
  margin: 0.3em 0;
  padding: 1em 2.5em;
  width: clamp(300px, 60vw, 700px);
  min-width: 300px;
  display: grid;
}
.list > ul > li > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

.list > ul > li > p {
  font-size: 1.2rem;
  padding: 0.7em 0;
}

/* styling for faqlist ends*/

.grid {
  background-color: black;
  color: white;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.grid > h2 {
  font-size: 2.6rem;
}

.grid > h2,
.grid > p {
  padding-bottom: 1em;
}

.grid > p {
  font-size: 1.25rem;
  padding-top: 3.5em;
}
.grid > form {
  display: flex;
  width: clamp(300px, 55vw, 600px);
  align-items: center;
  margin: 0.2em auto 1.3em;
  gap: 1px;
}

.grid > form > input,
.grid > form > button {
  border: none;
  border-radius: 2.5px;
  font-size: 1.3em;
  font-family: Poppins, sans-serif;
  padding: 0.5em 1em;
}

.grid > form > input {
  width: 65%;
}

.grid > form > input:focus {
  outline: none;
}

.grid > form > button {
  background-color: var(--lightBlue);
  color: whitesmoke;
  font-weight: 300;
  letter-spacing: 1px;
  width: 35%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 430px) {
  .grid > form > input,
  .grid > form > button {
    width: 100%;
  }
  .list > ul > li {
    width: 80vw;
  }
}

/* styling for faqlist ends*/
